<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>cms_adminHome</title>
  </head>
  <body>
    <h1><a href="/cms/admin/addAgent/">Add/Remove Agent</a></h1>
    <h1><a href="/cms/admin/addCCTV/">Add/Remove CCTV</a></h1>
    <h1><a href="/cms/admin/allocateCCTV/">Allocate/Deallocate CCTV</a></h1>
    <h1><a href="/cms/admin/searchCCTV/">Search CCTV</a></h1>
    <h1><a href="/cms/admin/searchAgent/">Search Agent</a></h1>
    <h1><a href="/cms/admin/addAdjacentArea/">Add/Remove Adjacent Area</a></h1>
    <h1><a href="/cms/admin/addSequence/">Add/Remove Sequence</a></h1>
    <h1><a href="/cms/logout/">Logout</a></h1>
  </body>
</html>
